@model Tiende_De_Video_Juegos.Models.prestamo

@{
    ViewBag.Title = "Details";
}

<h2>Ver Prestamo</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario.UsuarioNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario.UsuarioNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.videoJuego.VideoJuegoNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.videoJuego.VideoJuegoNombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdPrestamo }) |
    @Html.ActionLink("Regresar a Listado De Prestamo", "Index")
</p>
